<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="Maket">
     <xacro:include filename="structure.xacro" />
     <xacro:include filename="sensors.xacro" />

     <link name="base_footprint" />
     <joint name="base_to_footprint" type="fixed">
          <parent link="base_footprint" />
          <child link="base_link" />
          <origin xyz="0 0 0" rpy="0 0 0" />
     </joint>

     <xacro:base_link name="base_lnk" mass="5" filename="//description/meshes/base_link.STL">
          <origin
               xyz="0.055795 0.00111 0.11345"
               rpy="0 0 0" 
          />
          <inertia
               ixx="0.01219"
               ixy="0.00012117"
               ixz="0.00018358"
               iyy="0.0027513"
               iyz="-0.00011927"
               izz="0.012455"
          />
     </xacro:base_link>
     <!-- <Right_Wheel> -->
     <xacro:wheel_link 
          name_link="right_wheel" 
          filename="package://description/meshes/right_wheel.STL"
          mass="0.08" >
          <origin
               xyz="8.3267E-17 0 0.013353"
               rpy="0 0 0" 
          />
          <inertia
               ixx="3.6651E-05"
               ixy="1.1089E-20"
               ixz="1.0295E-19"
               iyy="3.6651E-05"
               iyz="2.2675E-21"
               izz="5.4175E-05" 
          />
     </xacro:wheel_link>
     <xacro:wheel_joint
          name="rightwheel"
          name_link ="right_wheel"> 
          <origin
               xyz="0.059148 -0.2 0.021"
               rpy="-1.5708 0 0" 
          />
     </xacro:wheel_joint>
     <!-- </Right_Wheel> -->
     <!-- <Left_Wheel> -->
     <xacro:wheel_link 
          name_link="left_wheel" 
          filename="package://description/meshes/left_wheel.STL"
          mass="0.08" >
          <origin
               xyz="3.8886E-14 3.645E-14 0.38665"
               rpy="0 0 0" 
          />
          <inertia
               ixx="3.6651E-05"
               ixy="-1.2633E-21"
               ixz="-9.0385E-18"
               iyy="3.6651E-05"
               iyz="7.177E-19"
               izz="5.4175E-05" 
          />
     </xacro:wheel_link>
     <xacro:wheel_joint
          name="leftwheel"
          name_link="left_wheel"> 
          <origin
               xyz="0.059148 -0.2 0.021"
               rpy="-1.5708 0 0" 
          />
     </xacro:wheel_joint>
     <!-- <Left_Wheel> -->
     <!-- <IMU> -->
     <xacro:imu/>
     <!-- <IMU> -->
     <!-- <Lidar> -->
     <xacro:lidar_link 
          filename="package://description/meshes/lidar_link.STL" 
          mass = "0.25" >
          <origin
               xyz="0.00012979 -6.6734E-06 -0.0079009"
               rpy="0 0 0" 
          />
          <inertia
               ixx="9.5253E-06"
               ixy="6.45E-11"
               ixz="4.1315E-08"
               iyy="9.4166E-06"
               iyz="6.3454E-09"
               izz="1.7083E-05" 
          />
     </xacro:lidar_link>
     <xacro:lidar_joint>
          <origin
               xyz="0.005563 0.002859 0.30015"
               rpy="0 0 0" 
          />
     </xacro:lidar_joint>
     <!-- <Lidar> -->
     <!-- <Aruco> -->
     <xacro:aruco>
          <box size="0.10 0.10 0.02" />
          <origin xyz="-0.09 0 0.26" rpy="0 0 0" />
     </xacro:aruco>
     <!-- <Aruco> -->

</robot>    