<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!-- This file is not a robot in and of itself, it just contains some useful tags that could be included in any robot -->

    <!-- Specify some colours -->
    <material name="Right_Wheel">
        <color 
          rgba="1 0.6 0.2 1" />
      </material>

    <material name="Left_Wheel">
        <color
          rgba="1 0.6 0.2 1" />
      </material>

    <material name="Roller">
        <color
          rgba="1 0.6 0.2 1" />
      </material>



    <!-- Specify some standard inertial calculations https://en.wikipedia.org/wiki/List_of_moments_of_inertia -->
    <!-- These make use of xacro's mathematical functionality -->

    <!-- <base_link> -->
    <!-- <xacro:macro name = "base_link" params = "mass *origin">
        <inertial>
               <origin
                    xyz="0.022152700168409 -0.000809996770580155 0.107200331423198"
                    rpy="0 0 0" />
               <mass value="2.24483698501812" />
               <inertia 
                    ixx="0.017171108266307"
                    ixy="7.41182378513859E-05"
                    ixz="0.000134548028700423"
                    iyy="0.00556240946464024"
                    iyz="-8.46684644335415E-05"
                    izz="0.0154086578851944" 
               />
          </inertial>
    </xacro:macro> -->

    <!-- <Right_Wheel> -->
    <xacro:macro name = "Right_Wheel" params = "mass *origin">
        <inertial>
            <xacro:insert_block name = "origin"/>
            <mass value = "${mass}"/>
            <inertia 
                ixx="1.61548368325699E-05"
                ixy="2.20581496687333E-25"
                ixz="5.46368876626065E-22"
                iyy="1.61548368325699E-05"
                iyz="-8.00640302327215E-21"
                izz="2.55932138713017E-05" 
            />
        </inertial>
    </xacro:macro>
    <!-- </Right_Wheel> -->

    <!-- <Left_Wheel> -->
    <xacro:macro name = "Left_Wheel" params = "mass *origin">
        <inertial>
            <xacro:insert_block name = "origin"/>
            <mass value = "${mass}"/>
            <inertia
                ixx="1.50439026496173E-05"
                ixy="3.8344358952925E-24"
                ixz="-7.45264249140294E-23"
                iyy="1.50439026496173E-05"
                iyz="1.07315574491882E-20"
                izz="2.55674779442835E-05"  
            />
        </inertial>
    </xacro:macro>
    <!-- </Left_Wheel> -->
    
    <!-- <Roller_Wheel> -->
    <xacro:macro name = "Roller" params = "mass *origin">
        <inertial>
            <xacro:insert_block name = "origin"/>
            <mass value = "${mass}"/>
            <inertia
                ixx="1.45256797391153E-06"
                ixy="2.30645963814273E-39"
                ixz="1.03955497655845E-24"
                iyy="1.45256797391153E-06"
                iyz="-1.31736089733523E-22"
                izz="5.42471410392509E-07" 
            />
        </inertial>
    </xacro:macro>
    <!-- </Roller_Wheel> -->

</robot>
